
body {
    font:  0.8em Arial, sans-serif;
}
ul {
    margin:0;
    padding: 0;
}

#wrap {
    background: #ccc ;
    width: 940px;
    padding: 10px;
    height: 730px;
    margin: 0 auto;
}



#menu {
    background: #d6d6c2;
    width: inherit;
    height: 30px;
    color: #fff;
    padding-bottom: 5px;
}

#menu ul{
    list-style-type: none;
    margin: 0;

}

ul li a{
    float: left;
    padding: 2px 20px;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 30px;


}

ul li a:hover {
    background: magenta;
}

#sendQ {
    float: right;
    border-left: 1px solid #fff;

}



#sideBar {
    background: #fff;
    height: 600px;
    width: 30%;
    float: right;
    box-sizing: border-box;
    border-left: 2px solid #bbb;



}


#forgottenPassword {
    text-decoration: none;
}



#content {
    background: #fff;
    height: 600px;
    width: 70%;
    color: #000;
    box-sizing: border-box;
    margin-top: 5px;


}


#Username {
    width: 200px;
    height: 25px;
    font-family: cursive;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    padding-left: 3px;
}

#password {
    width: 200px;
    height: 25px;
    font-family: cursive;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    padding-left: 3px;
}

input[type = "submit"] {

    font-family: cursive;


}

form {
    padding-top: 198px;
    padding-left: 90px;


}



#footer {
    background: #ebebe0;
    height: 20px;
    line-height: 20px;

}