@(cityId : String, cityName : String, placeTypeList : List[models.PlaceType])
@header("Add Place")
<h1>Add Place</h1>
<form id="addplaceform" action="@routes.PlaceController.addPlaceProcess()" method="POST">
    <table border="1">
        <tr><td>Place Name</td><td><input type="text" id="name" name="name" /></td></tr>
        <tr><td>Address</td><td><input type="text" id="address" name="address" /></td></tr>
        <tr><td>City</td><td><label>@cityName</label></td></tr>
        <tr><td>Place Type</td><td>
            <select name="placeTypeId">
                @for(pt <- placeTypeList){
                <option value="@pt.getPlaceTypeId()">@pt.getType()</option>
                }
            </select>
        </td></tr>
        <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
    </table>
<input type="hidden" name="cityId" value="@cityId"/>
</form>
@footer()