@header("Add Place Type")
<h1>Add Place Type</h1>
<form id="addplacetypeform" action="@routes.PlaceController.addPlaceTypeProcess()" method="POST">
    <table border="1">
        <tr><td>Type</td><td><input type="text" id="type" name="type" /></td></tr>
        <tr><td>Comment</td><td><textarea id="typeComment" name="typeComment" rows="5" cols="40"></textarea></td></tr>
        <tr><td colspan="2"><input type="submit" value="Add Place Type" /></td></tr>
    </table>
</form>
@footer()