@header("Add Question")
<h1>Add Question</h1>
<form id="addquestionform" action="@routes.QuestionController.addQuestionProcess()" method="POST">
    <table border="1">
        <tr><td>Title</td><td><input type="text" id="title" name="title" /></td></tr>
        <tr><td>Message</td><td><textarea id="message" name="message" rows="5" cols="40"></textarea></td></tr>
        <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
    </table>
</form>
@footer()