@header("Add information about your School")
<h1>Add Information about your school.</h1>
<form id="addsiform" action="@routes.SchoolController.addSchoolInformationProcess()" method="POST">
    <table border="1">
        <tr><td>Title</td><td><input type="text" id="title" name="title" /></td></tr>
        <tr><td>Message</td><td><textarea id="information" name="information" rows="5" cols="40"></textarea></td></tr>
        <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
    </table>
</form>
@footer()