@(questionList : List[models.Question], informationList : List[models.SchoolInformation])

@header("Student Portal Index")
<br />
<h1>Last 10 Questions</h1><br />
@for(q <- questionList){
<strong><a href="@routes.QuestionController.showQuestion(q.getQuestionId())">@q.getTitle()</a></strong>
sent by @q.getSenderObject().getUsername() on @util.DateUtil.getStringDate(q.getSentDate())<br />
@q.getMessage()<br /><br />
}
<br />
@if(session.get("user") != null){
<h1>Informations about your school</h1><br />
@for(i <- informationList){
<strong>@i.getTitle()</strong><br/>
@i.getInformation()<br /><br />
}
}
@footer()