@(message : String)
@header("Login")
<h1>Login</h1>
<form action="@routes.UserController.loginProcess()" method="POST">
    <table border="1">
        <tr><td>Username</td><td><input type="text" name="username" /></td></tr>
        <tr><td>Password</td><td><input type="password" name="password" /></td></tr>
        <tr><td colspan="2"><input type="submit" value="Login" /></td></tr>
    </table>
</form>
@message