@(q : models.Question, answers : List[models.Answer])

@header(q.getTitle())

<h1>@q.getTitle()</h1> <br />
@q.getMessage()
<br /><br />
<h1>Answers for this question</h1><br />
@for(a <- answers){
@a.getMessage() <br />
}

<h1>Add Answer</h1>
<form id="addanswerform" action="@routes.AnswerController.addAnswerProcess()" method="POST">
    <table border="1">
        <tr><td>Message</td><td><textarea id="message" name="message" rows="5" cols="40"></textarea></td></tr>
        <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
    </table>
    <input type="hidden" name="questionId" value="@q.getQuestionId()"/>
</form>

@footer()