@(questionList : List[models.Question])

@header("Questions")
<h1>Questions</h1>
@for(q <- questionList){

<a href="@routes.QuestionController.showQuestion(q.getQuestionId())">@q.getTitle()</a><br />

}

@footer()