@(search : String, qList : List[models.Question], pList : List[models.Place])
@header("Search Results for " + search)
<br />
Question results for "@search"<br />
@for(q <- qList){
<strong>@q.getTitle()</strong> sent by @q.getSenderObject().getUsername() on @q.getSentDate()<br />
}

<br />
Place results for "@search"<br />
@for(p <- pList){
<strong>@p.getName()</strong> Type: @p.getPlaceType().getType() <br />
<br />
@p.getAddress()
}

@footer()
