
@(userId : String)
@header("Send Private Message")
<h1>Send Private Message</h1>
<form id="privatemessageform" action="@routes.PrivateMessageController.sendMessageProcess()" method="POST">
    <table border="1">
        <tr><td>Title</td><td><input type="text" id="title" name="title" /></td></tr>
        <tr><td>Message</td><td><textarea name="message" id="message" rows="5" cols="40"></textarea></td></tr>
        <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
    </table>
    <input type="hidden" name="receiver" value="@userId"/>
</form>

@footer()