@(userList : List[models.User])
@header("User List")
<h1>Users</h1>
@for(u <- userList){
@u.getUsername() @if(session.get("user") != null){
| <a href="@routes.PrivateMessageController.sendMessage(u.getUserId())">Send a private message</a>
}
<br />
}
@footer()