@(countryList : List[models.Country])
@header("User Registration")

        <h1>Register</h1>
        <form action="@routes.UserController.addUser()" id="registrationform" method="POST">
            <fieldset>
        <table border="1">
            <tr><td>Username</td><td><input type="text" id="username" name="username" /></td></tr>
            <tr><td>Password</td><td><input type="password" id="password" name="password" /></td></tr>
            <tr><td>First Name</td><td><input type="text" id="firstname" name="firstname" /></td></tr>
            <tr><td>Middle Name</td><td><input type="text" id="middlename" name="middlename" /></td></tr>
            <tr><td>Surname</td><td><input type="text" id="lastname" name="lastname" /></td></tr>
            <tr><td>E-Mail</td><td><input type="email" id="email" name="email" /></td></tr>
            <tr><td>Gender</td><td>
                <select name="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </td></tr>
            <tr><td>Country</td><td>
                <select id="countryname" class="countryname" name="countryname">
                    <option value="">Please choose a country</option>
                    @for(c <- countryList){
                        <option value="@c.getCountryId()">@c.getName()</option>
                    }
                </select>
            </td></tr>
            <tr><td>City</td><td>
                <select id="city" name="city">

                </select>
            </td></tr>
            <tr><td>School</td><td>
                <select id="schoolId" name="schoolId">

                </select>
            </td></tr>
            <tr><td colspan="2"><input type="submit" value="Register" /></td></tr>
        </table>
            </fieldset>
       </form>
@footer()